*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
}

.jumbotron{
  padding: 2.5rem;
}

.homecardtitle{
  font-weight: bold;
}
.homecardsubstitle{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
}

nav{
  border: 1px solid rgb(219, 217, 217);
}

.nav-item{
  margin:0 0.3rem ;
}

.nav-item :hover{
  background: rgb(192, 192, 192);
}


.header .navbar-dark h4{
  color: rgb(221, 221, 221);
}

body{
  overflow-x: hidden;
  
}

.app{
  text-align: center;
  position: relative;
  min-height: 100vh;
  
}

.button{
  padding: 0.4rem 0.4rem;
  outline: none;
  background: rgb(255, 255, 255);
  border:1px solid rgb(185, 165, 187);
  border-radius: 0.3rem;


}
.button:hover{

  background: rgb(112, 111, 111);
  border:1px solid transparent;
  color: white;
}

a{
  color: #000;

}

ul li a{
  color: rgb(27, 39, 216);
}

ul{
  list-style-type: none;
}

.small{
  font-size: 0.7rem;
  color: rgb(49, 49, 49);
}

.justify-content-center{
  display: flex;
  justify-content: center;
}



.row-header{
  margin:0px auto;
  padding:0px auto;
}

.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
}

.footer{
  background-color: rgb(200, 193, 212);
  margin:0px auto;
  padding: 20px 0px 20px 0px;
}


address{
  font-size:80%;
  margin:0px;
  color:#0f0f0f;
}

.navbar-dark {
  background-color: #512DA8;
}

.social .btn{
  font-size: 1.2rem;
}

.social .btn-social-icon{
  margin:4px;
  padding: 4px;
}



/********* Header and main start **********/



.dishes{
  margin: 1rem auto ;
}





/*******************************/
.footer-brandname{
  font-weight: bold;
  font-family: cursive;
}
.footer ul li a{
  font-weight: 100;
  font-family: cursive;
}
